{
  "presets": [
    ["env", {
      "debug": true,
      "modules": false,
      "targets": {
        "browsers": [
          ">3%",
          "iOS >= 9",
          "Android >= 4.4"
        ]
      }
    }],
    "react"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false
    }]
  ]
}
